table{
   padding: 20px;
}

td{
    padding: 10px;
    align-items: center;
    text-align: center;
}

th{
    padding: 10px;
}

button{
    background-color: aqua;
    width: 100px;
}

select{background-color:aquamarine;}