body{
    position: relative;
    place-items: center;
    background-color: rgb(104, 196, 250);
}

form {  
    position: absolute;
    margin-top: 10%;
    margin-bottom: 60%;
    border: 1px solid #b4ddf5;
    padding: 20px;
    background-color: rgb(218, 237, 254);
    border-width: 3px;
    border-radius: 3%;
}

fieldset{
    border: 1px solid rgb(248, 131, 131);
    padding: 30px;
    border-radius: 2%;
    border-width: 3px;
}

table {
    width: 100%;
    margin-top: 5%;
}

button {
    padding: 3%;
    padding-left: 40%;
    padding-right: 40%;
    margin-top: 5%;
    align-self: center;
    margin-left: 3%;
    margin-bottom: 12%;
    background-color: rgb(53, 53, 143);
    border-width: 0.5px;
    color: rgb(247, 247, 247);
    border-radius: 2%;
    font-size: 100%;
}
